.carousels {
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
}

#carousels-slide-ul {
    position: relative;
    width: 4410px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

#carousels-slide-ul>li {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px 15px;
}

#carousels-slide1 {
    background-image: url('https://images.unsplash.com/photo-1612731486606-2614b4d74921?q=80&w=2620&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

#carousels-slide2 {
    background-image: url('https://images.unsplash.com/photo-1538329972958-465d6d2144ed?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

#carousels-slide3 {
    background-image: url('https://images.unsplash.com/photo-1517938889432-a2ac9241a486?q=80&w=2668&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.carousels-left-arrow {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 100;
    color: rgba(255, 255, 255, 0.5);
}

.carousels-left-arrow:hover {
    cursor: pointer;
}

.carousels-right-arrow {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 100;
    color: rgba(255, 255, 255, 0.5);
}

.carousels-right-arrow:hover {
    cursor: pointer;
}

.current-img {
    opacity: 1;
    height: 100%;
}

.side-img {
    opacity: 0.5;
    height: 97%;
}