.detail-page {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 1440px;
    margin-top: 60px;
}

.img-and-option-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.img-box {
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.thumbnail-img-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 660px;
}

.thumbnail-img {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-bottom: 10px;
}

.hero-img-container {
    width: 80%;
    height: 660px;
}

.hero-img {
    width: 480px;
    height: 660px;
    background-color: orange;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.option-and-info-box {
    width: 420px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.option-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 660px;
}

.option-txt-box {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 20%;
}

.option-txt-box>li {
    margin-bottom: 5px;
}

.is-sale {
    font-size: 18px;
    color: orange;
}

.product-name {
    font-size: 25px;
    font-weight: bold;
}

.product-type {
    font-size: 18px;
}

.product-price {
    font-size: 18px;
    margin-top: 15px;
}

.option-select-box {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 40%;
}

.option-select-box>div:nth-child(2), .option-select-box>div:nth-child(3) {
    margin-top: 30px;
}

.option-color-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 35%;
}

.option-color-container>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.option-color-container>ul>li {
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 8px;
}

.option-color-container>ul>li:nth-child(1) {
    background-color: green;
}

.option-color-container>ul>li:nth-child(2) {
    background-color: red;
}

.option-color-container>ul>li:nth-child(3) {
    background-color: blue;
}

.option-color-container>ul>li:nth-child(4) {
    background-color: orange;
}

.option-color-container>ul>li:nth-child(5) {
    background-color: black;
}

.option-size-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 35%;
}

.option-size-container>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.option-size-container>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    margin: 2px;
    border: 1.5px solid rgb(210, 210, 210);
    border-radius: 8px;
}

.option-quantity-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 35%;
}

.quantity-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 40px;
    border: 1.5px solid rgb(210, 210, 210);
    border-radius: 8px;
}

.quantity-input>p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.btn-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-flex>svg {
    width: 30px;
    height: 50%;
}

.btn-flex>svg:hover {
    cursor: pointer;
}

.option-btn-box {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30%;
}

.option-btn-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.option-btn-container>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 15px;
}

.option-btn-container>li:nth-child(3) {
    background-color: white;
    color: black;
    border: 2px solid rgb(210, 210, 210);
}

.option-btn {
    cursor: pointer;
}

.option-dropdown-info {
    width: 100%;
    margin-top: 90px;
}

.option-dropdown-info-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.option-dropdown-info-container>li {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid rgb(210, 210, 210);
}

.option-info-title {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-dropdown-info-container>li:nth-child(1) {
    border-top: 1.5px solid rgb(210, 210, 210);
}

.option-info-title>p {
    font-size: 18px;
    font-weight: bold;
}

.option-info-title>svg {
    font-size: 30px;
}

.option-info-script {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.option-info-script.open {
    max-height: 720px;
}

.option-info-script>li {
    margin-bottom: 30px;
}

.detail-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 60px;
}

.detail-img-box {
    width: 990px;
    height: 100%;
}

.detail-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.detail-img {
    width: 480px;
    height: 660px;
    margin: 0px 15px 5px 0px;
}

.detail-img>img {
    width: 480px;
    height: 660px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}