* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.topbar {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-logo {
    width: 1440px;
    height: 40px;
    color: white;
    font-size: 30px;
    font-weight: 800;
    margin: 40px 0px;
}

.topbar-logo > a {
    color: black;
}

.topbar-navbar {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.Top-section.scroll>.topbar>.topbar-navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.topbar-navbar-container {
    width: 1470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorybox {
    width: 35%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorybox>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 0px 15px;
}

.hovered {
    border-bottom: 1px solid black;
}

.userbox {
    width: 25%;
    height: 60px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.userbox>a {
    color: black;
    font-size: 14px;
    padding: 0px 15px;
}

.accordion-menu {
    position: absolute;
    top: 100%;
    width: 102%;
    height: 0px;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    transition: height 0.3s linear;
    z-index: 100;
}

.accordion-menu.active {
    height: 360px;
    transition: height 0.3s linear;
}

.accordion-menu-container {
    width: 1470px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.options-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    width: 120px;
}

.option-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
}

.option-title:hover {
    cursor: pointer;
}

.option {
    font-size: 14px;
    margin-top: 13px;
}

.option:hover {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.test {
    position: absolute;
    top: 100%;
    width: 102%;
    height: 0px;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    transition: height 0.3s linear;
    z-index: 100;
}

.test.active {
    height: 360px;
    transition: height 0.3s linear;
}