* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.topbar {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.topbar-logo {
    width: 70%;
    height: 120px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 800;
    padding: 40px 0px;
}

.topbar-logo > a {
    color: rgb(0, 0, 0);
}

.topbar-navbar {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

.Top-section.scroll>.topbar>.topbar-navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.topbar-navbar-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorybox {
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorybox>li {
    display: flex;
    height: 85%;
}

.categorybox>li>a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 13px 0px;
}

.hovered {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.userbox {
    width: 17%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userbox>li>a {
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 13px 0px;
}

.logged-in-true>li:last-child>a {
    font-size: 21px;
}

.accordion-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 100;
}

.accordion-menu.active {
    height: 390px;
    transition: height 0.3s ease;
}

.accordion-menu-container {
    width: 100vw;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.options-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.option-title {
    margin-bottom: 7px;
}

.option-title>a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.option-title:hover {
    cursor: pointer;
}

.option {
    margin-top: 13px;
}

.option>a {
    font-size: 17px;
    color: rgb(150, 150, 150);
}

.option>a:hover {
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}