.administrator-page {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.input-section {
    margin-bottom: 60px;
}

.admin-page-navigator {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-page-title {
    width: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.admin-page-title>span {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.admin-page-filter-btn {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin-page-contents {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.admin-menu-filter-container {
    width: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.admin-menu-btn-container {
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-menu-btn-container>button {
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    cursor: pointer;
}

.admin-menu-btn-container>button:nth-child(1) {
    width: 120px;
}
.admin-menu-btn-container>button:nth-child(2) {
    width: 140px;
}
.admin-menu-btn-container>button:nth-child(3) {
    width: 90px;
}

.selected-admin-menu {
    font-weight: bold;
}

.admin-menu-filter-active {
    width: 260px;
    opacity: 1;
    visibility: visible;
}