.my-page {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.my-page-navigator-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-page-navigator {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-page-navigator>span>a {
    font-size: 18px;
    color: rgb(34, 34, 34);
    cursor: pointer;
}


.my-page-grid-container {
    display: grid;
    grid-template-areas: 'profile profile datas datas datas datas'
                         'mymenu profile profile profile profile profile';
}

.my-page-grid-container div {
    background-color: bisque;
    padding: 20px;

    border: 1px solid white;

    margin-left: 1px;
}

.my-page-profile {
    grid-area: profile;
}

.my-page-sale-datas {
    grid-area: datas;
}

.my-page-menu {
    grid-area: mymenu;
}

.my-page-content {
    grid-area: profile;
}
