.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.prev-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.next-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.carousel-img-wrap {
    width: 80%;
    height: 660px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.carousel-img-card {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 25px;
}

.carousel-img {
    width: 480px;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
}

.carousel-text {
    width: 940px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0px;
}

.carousel-text>span {
    cursor: pointer;
}

.carousel-text-pd-name {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel-text-pd-type {
    font-size: 40px;
    margin-bottom: 10px;
}

.carousel-text-pd-discount {
    font-size: 40px;
    color: rgb(222, 189, 255);
}

.carousel-text-pd-recommend {
    font-size: 40px;
}

.carousel-text-pd-price {
    font-size: 25px;
    margin-top: 30px;
}

.carousel-img-card.current-img {
    margin: 0% 5%;
}

.carousel-img-card.side-img {
    height: 90%;
    opacity: 0.3;
}