.login-box {
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.login-box-top > .title {
    font-size: 25px;
    font-weight: bold;
}

.login-box-middle {
    width: 100%;
}

.inputTitle {
    margin-top: 20px;
}

.inputWrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3px;
}

.inputWrap > input {
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 1.0rem;
    width: 100%;
    height: 50px;
    outline-style: none;
    border: 1.5px solid rgb(170, 170, 170);
}

.errorMessageWrap > div {
    font-size: 13px;
    color: red;
}

.login-box-bottom {
    width: 100%;
    margin-top: 100px;
}

.login-box-bottom > .loginButton {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.login-box-bottom > .loginButton:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}