.payment-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.payment-page-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.payment-page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
}

.order-section {
    width: 65%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.order-section>div {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgb(210, 210, 210);
}

.order-section>div>header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.inputWrap-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputWrap-name > input {
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 1.0rem;
    width: 49%;
    height: 50px;
    outline-style: none;
    border: 1.5px solid rgb(170, 170, 170);
}

.inputWrap-address {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputWrap-address > input {
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 1.0rem;
    width: 100%;
    height: 50px;
    outline-style: none;
    border: 1.5px solid rgb(170, 170, 170);
    margin-top: 30px;
}

.inputWrap-phone-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputWrap-phone-email > input {
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 1.0rem;
    width: 49%;
    height: 50px;
    outline-style: none;
    border: 1.5px solid rgb(170, 170, 170);
    margin-top: 30px;
}

.button-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.save-button {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: black;
    color: white;
    transition: 0.3s;
    margin-top: 30px;
    margin-bottom: 30px;
}

.save-button:hover {
    cursor: pointer;
}

.payment-option {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.option-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 1.0rem;
    width: 20%;
    height: 50px;
    outline-style: none;
    border: 1.5px solid rgb(170, 170, 170);
    margin-top: 30px;
    background-color: rgb(0, 78, 255);
    color: white;
}

.option-card:hover {
    cursor: pointer;
}

.cart-section {
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.cart-title {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.cart-info {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.cart-info>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}



