@font-face {
  font-family: 'chaenii';
  src: url('../public/fonts/chaenii.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'chaenii', sans-serif;
}

.Top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid rgb(177, 177, 177); */
}

.Middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 180px;
}

.Middle-section.scroll {
  margin-top: 60px;
}

.blur {
  background: rgba(255, 255, 255, 0.8);
  filter: blur(3px) brightness(0.7);
}

.Bottom-section {
  height: 360px;
  background-color: rgba(17, 17, 17, 1);
  /* margin-top: 180px; */
}